<style>
    .wish-list {
        list-style: none;
    }
</style>

<main class="main">
    <div class="content">
        <h1>{{ title }}</h1>
        <div class="row gx-3 gy-2 justify-content-center align-items-center">
            <div class="col-sm-6">
                <label class="visually-hidden" for="todo-list-input"></label>
                <input [(ngModel)]="todoListText" class="form-control" type="text" name="todo-list-text" id="">
            </div>
            <div class="col-auto">
                <button (click)="addTodoListItem()" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
        <div class="row mt3">
            <div class="col-sm-2">
                <select [(ngModel)]="listFilter" (ngModelChange)="filterChanged($event)" class="form-select" name="" id="">
                <option value="0">All</option>
                <option value="1">Uncompleted</option>
                <option value="2">Completed</option>
            </select>
            </div>
        </div>
        <div class="contenter">
            <div *ngIf="visibleListItems.length === 0">
                There are no list items to display.
            </div>
            <ul class="wish-list">
                <li *ngFor="let item of visibleListItems">
                    <div class="form-check">
                        <label class="form-check-label" for="">
              <input 
              [checked]="item.isComplete"
              class="form-check-input"  
              type="checkbox" 
              name="" 
              id="">{{item.todoListText}}
            </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<router-outlet />