<style>
    .wish-list {
        list-style: none;
    }
</style>

<main class="main">
    <div class="content">
        <h1>{{ title }}</h1>
        <todo-form (addTodo)="items.push($event)"></todo-form>
        <div class="row mt3">
            <div class="col-sm-2">
                <select [(ngModel)]="listFilter" class="form-select" name="" id="">
                <option value="0">All</option>
                <option value="1">Uncompleted</option>
                <option value="2">Completed</option>
            </select>
            </div>
        </div>
        <div class="contenter">
            <todo-list [todos]="visibleListItems"></todo-list>
        </div>
    </div>
</main>

<router-outlet />