<style>
  .wish-list{
    list-style: none;
  }
</style>

<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>
    <div class="contenter">
      <div *ngIf="items.length === 0">
        There are no list items to display.
      </div>
      <ul class="wish-list">
        <li *ngFor="let item of items">
          <div class="form-check" >
            <label class="form-check-label" for="">
              <input class="form-check-input"  type="checkbox" name="" id="">{{item.todoListText}}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<router-outlet />
